* {
background-color: silver;
border-radius: 10px;
}

h1{
border: 1px solid;
color: blue;
padding: 15px;
}

body{    
font-family: "Avenir", sans-serif;
text-align: center;
height: 100%;
}

#information{
border: 1px solid;
width: 30%;
height: 100px;
float: left;
margin-top: 50px;
margin-left: 2.5%;
margin-right: 2.5%;
}

#info{
border: 1px solid;
float: right;
width: 800px;
height: 300px;
margin-top: 50px;
margin-left: 2.5%;
margin-right: 2.5%;
margin-bottom: inherit;
}

#superbowl{
border: 1px solid;
float: left;
}

h2{
color: blue;
}

p{
color: red;
}

h3{
color: blue;
}

a:hover{
color: red;
}

a:active{
color: purple;
}

.score{
color: blue;
font-style: italic;    
}